<section class="card">
  <div class="card-header">
    <a href="/post/{{id}}"><h3>{{post_title}}</h3></a>
  </div>
  <div class="card-body">
    <p class="card-text">{{post_content}}</p>
    <p class="bottom-text">Posted by {{user.username}} on {{post_date}}</p>
  </div>
</section>
